*{ 
    margin:0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;
  }
  /* alcune regole personali */
  .pad-l{
    padding-left: 20px;
  }
  /* fine */

  .top-nav{
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    flex-wrap: wrap;

    background-color: #C4C4C4;
    font-size: 20px;
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.13);
  }
  .link-nav{
    display: flex; 
    align-items: center;
  }

  .nav-a a, .text a{
    color: black;
    margin-left: 20px;
  }
  .nav-a a:hover,  .text a:hover{
    color: rgb(53, 53, 53);
    transition: 0.5s ease;
  }
  #nav-a-active{
    background-color: black;
    color:white;
    padding: 10px;
    border-radius: 10px;
  }
  #nav-a-active:hover{
    opacity: 0.8;
    transition: 0.5s ease;
  }
  
  .search-bar input[type=text] {
    padding: 6px;
    border-radius: 10px;
  }
  .search-bar button{
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color:  #C4C4C4;
  }
  /* original picture by https://unsplash.com/@sushioutlaw */
  .hero-image {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home{
    background-image: url("img/hero_image_bn.jpg");
  }
  /* original background picture by https://unsplash.com/@anneliesgeneyn */
  .book-article{
    background-image: url("img/image-book-bn.jpg");
    height: 80vh;
  }
  /* original background picture by https://unsplash.com/@charlesdeluvio */
  .moovie-article{
    background-image: url("img/image-moovie-bn.jpg");
    height: 80vh;
  }
  /* original picture by https://unsplash.com/@dallehj */
  .not-found{
    background-image: url("img/image-not-found-bn.jpg");
    height: 100vh;
  }
  /* original picture by https://unsplash.com/@iammrcup */
  .archive{
    background-image: url("img/image-archive-bn.jpg");
    height: 100vh;
  }

  .section{
    padding: 50px;
  }
  .categories{
    text-align: center;
    margin-bottom: 50px;
  }
  .categories-link a{
    background-color: #C4C4C4;
    padding: 10px 15px;
    color: black;
    border-radius: 10px;
  }
  .categories-link a:hover{
    background-color:black;
    color: white;
    transition: 0.5s ease;
  }
  .categories-link a.active{
    background-color: black;
    color: white;
  }
  .card-book, .card-moovie{
    display: grid;
    grid-template-columns: 3fr 5fr;
    background-color: #C4C4C4;
    margin-bottom: 20px;
  }
  /* original picture by https://unsplash.com/@anneliesgeneyn */
  .image-book{
    width:100%;
    height: 400px;
    background-image: url("img/image-book-bn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
  }
  /* original picture by https://unsplash.com/@charlesdeluvio */
  .image-moovie{
    width:100%;
    height: 400px;
    background-image: url("img/image-moovie-bn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
  }
  .image-book a, .image-moovie a{
    color: white;
  }
  .image-book a:hover, .image-moovie a:hover{
    color: rgba(255, 255, 255, 0.822);
    transition: 0.5s ease;
  }
  .text{
    padding: 50px;
  }
  .button{
    background-color: #C4C4C4;
    padding: 10px 15px;
    text-align: center;
    color: black;
    cursor: pointer;
    border-radius: 10px;
  }
  .button:hover{
    background-color:black;
    color:white;
    transition: 0.5s ease;
  }
  
  .center{
    text-align: center;
    padding-top: 30px;
  }
  .vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  footer{
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    background-color: #C4C4C4;
  }

  /* article.html */
  .article{
    padding: 0px 50px 0px 50px;
  }

  .text-container{
    text-align: justify;
  }
  .title-article, .date-article{
    line-height: 2em;
  }
  .title-article{
    font-size: 1.5em;}

  /* 404.html */
  .error-message{
    display: block;
    padding: 50px;
  }